{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <div class="uk-grid">
        <div class="uk-width-1-5 uk-flex-last">
            <ul class="uk-tab-right" uk-tab="connect: #component-tab-right; animation: uk-animation-fade">
                <li><a href="#">Subjects</a></li>
                <li><a href="#">Marks</a></li>
                <li><a class="uk-disabled" href="#">Item</a></li>
            </ul>
        </div>
        <div class="uk-width-expand">
            <ul id="component-tab-right" class="uk-switcher">
                <li>
                    {# SUBJECTS #}
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-width-small">Subjects</th>
                                <th>Content</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if user.subjects != null %}
                                {% for subject in user.subjects %}
                                    <tr>
                                        <td>{{ subject.name }}</td>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                        {% if is_granted('ROLE_STUDENT') %}
                                            <td><a href="{{ path('subject_unsubscribe', { subjectId: subject.id }) }}" class="uk-button uk-button-default" type="button">Unsubscribe</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <div class="uk-alert-primary" uk-alert>You did not subscribe to a subject yet</div>
                            {% endif %}
                        </tbody>
                    </table>
                </li>   
                {# MARKS #}
                <li>
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th class="uk-width-small">Mark</th>
                                <th>Out Of</th>
                                <th>Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if user.marks != null %}
                                {% for mark in user.marks %}
                                    <tr>
                                        <td>{{ mark.subject.name }}</td>
                                        <td>{{ mark.mark }}</td>
                                        <td>{{ mark.outof }}</td>
                                        <td>{{ mark.teacher.firstname }} {{ mark.teacher.lastname }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <div class="uk-alert-primary" uk-alert>You don't have marks yet</div>
                            {% endif %}
                        </tbody>
                    </table>
                </li>
                {# ITEM #}
                <li></li>
            </ul>
        </div>
    </div>
{% endblock %}
