{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <div class="uk-grid">
        <div class="uk-width-1-5 uk-flex-last">
            <ul class="uk-tab-right" uk-tab="connect: #component-tab-right; animation: uk-animation-fade">
                <li><a href="#">Users</a></li>
                <li><a href="#">Subjects</a></li>
                <li><a class="uk-disabled" href="#">Item</a></li>
            </ul>
        </div>
        <div class="uk-width-expand">
            <ul id="component-tab-right" class="uk-switcher">
                <li>
                    {# USERS #}
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-width-small">Firstname</th>
                                <th>Lastname</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td><a href="{{ path('admin_show_user', { userId: user.id }) }}" class="uk-button uk-button-default" type="button">Show</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>   
                <li>
                    {# SUBJECTS #}
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-width-small">Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                                <tr>
                                    <td>{{ subject.name }}</td>
                                    <td><a href="{{ path('admin_show_subject', { subjectId: subject.id }) }}" class="uk-button uk-button-default" type="button">Show</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>
                {# ITEM #}
                <li></li>
            </ul>
        </div>
    </div>
{% endblock %}