{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<h3>{{ user.firstname }} {{ user.lastname }}</h3>

<p>{{ user.email }}</p>
<p>
    Has roles :
    {% for role in user.roles %}
        {{ role }}
    {% endfor %}
</p>

<a class="uk-button uk-button-default" href="{{ path('admin_edit_user', {userId: user.id})}}">Manage user</a>

<table class="uk-table uk-table-middle uk-table-divider">
    <thead>
        <tr>
            <th class="uk-width-small">Subject</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in user.subjects %}
            <tr>
                <td>{{ subject.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<table class="uk-table uk-table-middle uk-table-divider">
    <thead>
        <tr>
            <th class="uk-width-small">Mark</th>
            <th>Out of</th>
            <th>Subject</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        {% for mark in user.marks %}
            <tr>
                <td>{{ mark.mark }}</td>
                <td>{{ mark.outof }}</td>
                <td>{{ mark.subject }}</td>
                <td>{{ mark.teacher }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}